{% extends 'SzymonTurniejBundle::layout.html.twig' %}

{% block contents %}
  <h1>Wybierz Turniej</h1>
  <p>
    <table>
      {{ form_start(form) }}
      {{ form_errors(form) }}

      <tr>
        <td>
          {{ form_label(form.Turniej) }}:
        </td><td>
          {{ form_widget(form.Turniej, { 'attr': {'class': 'form-control input-sm'} }) }}
        </td><td>
          {{ form_errors(form.Turniej) }}
        </td>
      </tr>

      <tr>
      	<td></td>
        <td align=right>        
	        {{ form_widget(form.zapisz, { 'label': 'Wybierz', 'attr': {'class': 'btn btn-success'} }) }}
	        {{ form_end(form) }}
        </td>
      	<td></td>
      </tr>

    </table>
  </p>
{% endblock %}